.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

#quote-box {
  height: 50%;
  width: 50%;
}

#text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  color: #ccc;
}

#quote-box-bottom {
  flex: 1;
  height: 50%;
  display: flex;
  flex-direction: column;
}

#quote-box-controls,
#author {
  flex: 1;
  height: 50%;
  border: 1px solid black;
}

#author {
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box-controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#tweet-quote {
  text-decoration: none;
  color: #ccc;
  font-family: 'Lexend Zetta', sans-serif;
  padding: 1.1rem 2rem;
  border: 1px solid #ccc;
  font-size: .75rem;
  margin: 0;
}

@media only screen and (max-width: 900px) {
  #quote-box {
    width: 90%;
  }

  .header__logo {
    width: 350px;
    height: 200px;
  }

  #tweet-quote {
    border: none;
  }
}

@media only screen and (max-width: 600px) {
  .header__logo {
    width: 200px;
    height: 100px;
  }

  #text {
    height: 60%;
  }

  #quote-box {
    height: 60%;
  }
}

