.text {
    font-family: 'Lexend Zetta', sans-serif;
    line-height: 25px;
}

/*
    Author signatures
*/

.signature {
    font-size: 2rem;
}

.Picard {
    font-family: 'Marck Script', cursive;
}

.Q {
    font-family: 'Fondamento', cursive;
}

.Data {
    font-family: 'Lateef', cursive;
}

.Worf {
    font-family: 'Rock Salt', cursive;
}

.Riker {
    font-family: 'Mr Dafoe', cursive;
}

/*
  Need position: relative for your dynamic text on hover
  overflow: hidden --> so we don't see the text floating above the button
*/

.animated__button {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    outline: none;
    margin: 0;
  
    border: 1px solid #ccc;
    color: #ccc;
    font-family: 'Lexend Zetta', sans-serif;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.animated__button > * {
    height: 50%;
    width: 80%;
    display: inline-block;
    transition: all .4s;
}

.btn__visible {
    padding: 1rem 2rem;
}

.btn__invisible {
    position: absolute;
    left: 0;
    top: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated__button:hover .btn__visible {
    transform: translateY(-400px);
}

.animated__button:hover .btn__invisible {
    top: 0%;
}

@media only screen and (max-width: 900px) {
    .text {
        font-size: .75rem;
    }

    .signature {
        font-size: 1rem;
    }

    .animated__button {
        border: none;
    }

    .btn__visible {
        padding: .5rem 1rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .text {
        font-size: .5rem;
    }

    .signature {
        font-size: .75rem;
    }
  }

